.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    height:140px;
    width: 140px;
    justify-content: center;
    align-self: center;
    margin-left:30%;
  }