.header {
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* background-image: repeating-linear-gradient(to left, rgb(88, 91, 241) , rgb(47, 211, 216), rgb(246, 171, 80)); */

  }
  .logo{
    height:140px;
    width: 140px;
    justify-content: center;
    align-self: center;
  }